# Ignore Python cache and local files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore your virtual environment folder (if present)
venv/
.env/
*.egg-info

node_modules/

MasterMinutes.zip

.vscode/

.pytest_cache/